.film_container{
    border : 0.1rem solid black;
    border-radius: 20px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding : 15px;
    height: 160px;
}
.film_container:hover{
    border : 0.04rem solid rgba(0,0,0,0.2);
    box-shadow : 2px 2px 5px 0px rgba(0,0,0,0.2);
}

.header_film_container{
    flex : 0.6;
}

.header_film_title_container{
    flex : 0.9;
    display: flex;
    align-items: center;
}

.header_film_title_container > p {
    font-size: 18px;
    font-weight: bold;
    margin : 0
}

.header_film_close{
    flex : 0.1
}

.content_film_container{
    flex : 0.4;
}

.content_film_category_container{
    flex : 0.4
}

.content_film_jauge_container{
    flex : 0.6
}
